<aside class="bg-[#007D8B] text-white w-55 min-h-screen p-4">
    <h2 class="text-xl font-bold mb-6">Bookly Admin</h2>

    <nav>
        <ul class="space-y-4">
            <li>
                <a href="/admin/dashboard" class="block p-2 rounded hover:bg-blue-700">Dashboard</a>
            </li>
            <li>
                <a href="/admin/users" class="block p-2 rounded hover:bg-blue-700">Customers</a>
            </li>
            <li>
                <a href="/admin/products" class="block p-2 rounded hover:bg-blue-700">Products</a>
            </li>
            <li>
                <a href="/admin/category" class="block p-2 rounded hover:bg-blue-700">Categories</a>
            </li>
            <li>
                <a href="/admin/orders" class="block p-2 rounded hover:bg-blue-700">Orders</a>
            </li>
            <li>
                <a href="/admin/inventory" class="block p-2 rounded hover:bg-blue-700">Stock</a>
            </li>
            <li>
                <a href="/admin/coupons" class="block p-2 rounded hover:bg-blue-700">Coupons</a>
            </li>
            <li>
                <a href="/admin/offers" class="block p-2 rounded hover:bg-blue-700">offers</a>
            </li>
        </ul>
    </nav>
</aside>
